.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#ffe0e5, #8059a9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 420px;
    height: 540px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsBlock {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputDescription {
    font-size: small;
    opacity: 50%;
}
.error {
    font-size: small;
    color: red;
    height: 1px;
}
.inputContainer {
    position: relative;
}
.input {
    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #a1a1a1;
}
.eyeIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
}
.input:focus {
    outline: none;
}

.buttonBlock {
    width: 80%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blue {
    color: white;
    background-color: #02359a ;
    width: 50%;
}