

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.inputClass {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #a1a1a1;
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    transition: 180ms box-shadow ease-in-out;
    outline: 3px solid transparent;
}

.inputClass:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}
.inputClass[type="file"] {
    font-size: 0.9em;
    padding-top: 0.35rem;
}
.inputClass[disabled] {
    --input-border: #ccc;

    background-color: #eee;
    cursor: not-allowed;
}
.inputClass:focus {
    border-color: #471263;
    border-bottom: 2px solid #a1a1a1;
}

.finalSpanClassName {
    font-size: small;
    opacity: 50%;
}

.error {
    color: red;
}
/*.inputClass{*/
/*    width: 400px;*/
/*    padding: 10px 10px;*/
/*    font-size: 16px;*/
/*    border: 1px solid #bdbdbd;*/
/*    outline: none;*/
/*    border-radius: 0.25rem;*/
/*    margin: 20px 20px 20px 0;*/
/*}*/
