/*.checkbox {*/
/*    appearance: none;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    border: 1px solid #006fff;*/
/*    border-radius: 5px;*/
/*}*/

/*.spanClassName {*/

/*}*/

*, *:before, *:after {
    box-sizing: border-box;
}

.form_container {
    padding: 1rem;
    margin: 2rem auto;
    background-color: #fcfcfc;
    border: 1px solid #e6e6e6;
    width: 50%;
}

/* HTML5 Boilerplate accessible hidden styles */
.promoted_input_checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.promoted_checkbox{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.promoted_checkbox input:checked + label > svg {
    height: 24px;
    animation: draw-checkbox ease-in-out 0.2s forwards;
}
.promoted_checkbox label:active::after {
    background-color: #e6e6e6;
}
.promoted_checkbox label {
    color: #0080d3;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.promoted_checkbox label:after {
    content: "";
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    float: left;
    border: 2px solid #0080d3;
    border-radius: 3px;
    transition: 0.15s all ease-out;
}
.promoted_checkbox svg {
    stroke: #0080d3;
    stroke-width: 2px;
    height: 0;
    width: 24px;
    position: absolute;
    left: -48px;
    top: 8px;
    stroke-dasharray: 33;
}

@keyframes draw_checkbox {
    0% {
        stroke-dashoffset: 33;
    }
    100% {
        stroke-dashoffset: 0;
    }
}