


.headerWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.nav{
    display: flex;
}
.nav div{
    margin-left: 10px;
}
.active{
    color: red;
    text-decoration: none;
}
.link{
    text-decoration: none;

    color: cadetblue;
}

.logout {
    margin-left: 30px;
}

