body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainCardWrapper {
  width: 420px;
  padding: 0 50px;
  height: 540px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mainCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainCardBody {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainCardError {
  font-size: small;
  color: red;
  height: 1px;
}

.mainCardFooter {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainCardInput {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #a1a1a1;
}

.mainCardInput:focus {
  outline: none;
}